.rooms {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
}

@media only screen and (max-width: 400px) {
  .rooms {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.room {
  border: 1px solid #888;
  border-radius: 14px;
  color: white;
  height: 340px;
  box-shadow: 1px 1px 10px #888;
  position: relative;
}

h2.room-name {
  color: black;
  padding: 13px;
  margin-top: 0;
  margin-bottom: 0;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.room-image, .room-overlay {
  position: absolute;
  top: 72px;
  left: 0;
  height: 192px;
  width: 100%;
  transition: background-color 0.3s;
}

.room-image {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.room-overlay {
  opacity: 15%;
}

.scene-container {
  padding: 10px 0;
  height: 55px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
}

.scenes {
  white-space: nowrap;
}

img.scene-image:nth-child(1) {
  margin-left: 10px;
}

img.scene-image:nth-last-child(1) {
  margin-right: 10px;
}

img.scene-image {
  width: 40px;
  height: 40px;
  margin: 3px;
  border: 2px solid #ddd;
  border-radius: 30%;
  padding: 2px;
  box-shadow: 1px 1px 8px #bbb;
  cursor: pointer;
}

img.scene-image:hover {
  margin-bottom: 2px;
  box-shadow: 1px 1px 8px #888;
}
