* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard {
  padding: 20px;
}

.rooms {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
}

@media only screen and (max-width: 400px) {
  .rooms {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.room {
  border: 1px solid #888;
  border-radius: 14px;
  color: white;
  height: 340px;
  box-shadow: 1px 1px 10px #ddd;
  position: relative;
}

.switch {
  float: right;
  position: relative;
  width: 60px;
  height: 34px;
  margin: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #3d5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3d5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h2.room-name {
  color: black;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.brightness {
  display: none;
  position: absolute;
  top: 51px;
  margin: auto;
  -webkit-appearance: none;
  overflow: hidden;
  height: 22px;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px; /* 1 */
  height: 22px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #3d5;
  border: 1px solid #888; /* 1 */
}

::-moz-range-track {
  height: 22px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 22px;
  width: 22px;
  border: 1px solid #888;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw #3d5;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: #3d5;
}

::-ms-thumb {
  background: #fff;
  border: 1px solid #888;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 22px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}

.room-image, .room-overlay {
  position: absolute;
  top: 72px;
  left: 0;
  height: 192px;
  width: 100%;
  transition: background-color 0.3s;
}

.room-image {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.room-overlay {
  opacity: 15%;
}

.scene-container {
  padding: 10px 0;
  height: 55px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
}

.scenes {
  white-space: nowrap;
}

img.scene-image:nth-child(1) {
  margin-left: 10px;
}

img.scene-image:nth-last-child(1) {
  margin-right: 10px;
}

img.scene-image {
  width: 40px;
  height: 40px;
  margin: 3px;
  border: 2px solid #ddd;
  border-radius: 30%;
  padding: 2px;
  box-shadow: 1px 1px 8px #bbb;
  cursor: pointer;
}

img.scene-image:hover {
  margin-bottom: 2px;
  box-shadow: 1px 1px 8px #888;
}
